.body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  /* App.module.css */

@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #1f2d5a;
  color: #fbfbfb;
  font-family: 'Libre Baskerville', serif;
}

.title {
  font-size: 3rem;
  margin-bottom: 2rem;
}

.selectContainer {
  margin-bottom: 2rem;
}

.select {
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  border-radius: 0.5rem;
  border: 2px solid #2f76db;
  color: #fbfbfb;
  background-color: #1f2d5a;
}

.button {
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  border-radius: 0.5rem;
  border: none;
  background-color: #2f76db;
  color: #fbfbfb;
  cursor: pointer;
  transition: all 0.3s ease;
}

.button:hover {
  background-color: #fbfbfb;
  color: #1f2d5a;
}